
* {
    font-family: Arial, 'Helvetica Neue',Helvetica, sans-serif;
    color: #777777;
}
p {
    margin: 0px 0px 0px 0px;
}
h1,h2 {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
    padding-right: 20px;
    
}
.name{
    padding-top: 0;
    text-align:center;
    vertical-align: middle;
    top: 20%;
    
    margin-left: 0;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}
/* .flex_container {
    display:flex;
    flex-direction: column;
} */
html {
    background-color: seashell;
    height:100%;
    background-image: url('../images/floor-tile.png')
}
body {
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    min-height: calc(100vh - 50px);
}
header{
    /* overflow: hidden;
    display:flex; */
    width:100vw;
    height: 100px;
    background-color: white;
    margin-left:0;
    margin-right:0;
    position:absolute;
    top:0;
    right:0;
    flex: 1;
    border-bottom: 2px solid #cccccc;
}
.gr{
    color:#4aaaa5;
}
.nav{
    text-align: center;
    width: 360px;
    height: 100px;
    margin-left: auto;
    margin-right: calc(50vw - 472.5px);
    padding-top: 32px;
}
.nav_items{
    margin-top:auto;
    margin-bottom:auto;
    vertical-align: middle;
    width: 360px;
    height: 100px;
    text-align: center;
    position: relative;
    display: inline;
}
.name_plate{
    /* flex:2; */
    background-color: #4aaaa5;
    width: 250px;
    height: 90px;
    margin: 0 0 0 0;
    position: absolute;
    bottom: 0;
    left: calc((100vw - 962px)/2);
    margin-left: auto;
}
footer {
    overflow: hidden;
   
    height: 50px;
    background-color: #666666;
    position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
    display: block;
    left: 0;
    bottom: 0;
    /* width: 100%;
    margin-left:0;
    margin-right:0;
    margin-top:50px; */
    border-top: 5px solid #4aaaa5;
    margin-bottom: 0;
}
.about_me{
    flex:1;
    width:100%;
    height:100%;
    width:960px;
    background-color: white;
    margin-left: calc(50vw - 481px);
    margin-right:calc(50vw - 481px);
    margin-top: 150px;
    margin-bottom: 100px;
    border:1px solid #dddddd;
    height:auto;
}
.about_me_text{
    padding-left: 25px;
    padding-right: 25px;
}
.picture { 
    float: left;
    padding: 20px;
}